<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontrollzentrum</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>Pi Kontrollzentrum</header>
    <div class="NavBar">
        <a href="{{ url_for('index') }}">Startseite</a>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('view_logs') }}">Logs</a>
        <a href="{{ url_for('network_info') }}">Netzwerkübersicht</a>
    </div>
    <div class="main-content-wrapper">
        <div style="max-width: 1200px; flex: 1 1 100%;">
        <div class="data-container">

            <div class="stable-section" id="home">
                <h2>System Kontrollzentrum</h2>
                <p>Dieses Dashboard dient als zentrale Schnittstelle zur Überwachung und Steuerung deines Raspberry Pi
                    Systems.
                </p>
            </div>

            <a href="{{ url_for('dashboard') }}" class="info-link" style="color: inherit;">
                <div class="content-section" id="dashboard">
                    <h2>Dashboard</h2>
                    <p>
                        Zeigt Echtzeit-Metriken und wichtige Zustandsinformationen des Systems an.
                    </p>
                </div>
            </a>

            <a href="{{ url_for('view_logs') }}" class="info-link" style="color: inherit;">
                <div class="content-section" id="logs">
                    <h2>Logs</h2>
                    <p>
                        Ermöglicht die Einsicht und das Filtern von Systemprotokollen, um Fehleranalysen durchzuführen
                        und
                        den
                        Betrieb zu überprüfen.
                    </p>
                </div>
            </a>

            <a href="{{ url_for('network_info') }}" class="info-link" style="color: inherit;">
                <div class="content-section" id="network">
                    <h2>Netzwerk</h2>
                    <p>
                        Liefert detaillierte Informationen über die aktuelle Netzwerkkonfiguration, verbundene Geräte
                        und
                        den
                        Status der Schnittstellen.
                    </p>
                </div>
            </a>
        </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2026 Beta Version</p>
</body>

</html>