<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>System Logs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>System Logs</h1>
    <div class="main-content-wrapper">
        <div class="content-section" style="max-width: 1200px; flex: 1 1 100%;">
            <h2>Inhalt von /var/log/syslog</h2>
            <div class="log-container">
                <pre>{{ log_content }}</pre>
            </div>
            <p><a href="{{ url_for('index') }}" class="action-link">Zurück zum Anfang</a></p>
        </div>
    </div>
</body>

</html>